a{
    text-decoration: inherit;
    color: inherit;
}

body{
    margin: 0px;
    background-color: antiquewhite;
    padding: 0px 0px 0px 0px;
    scroll-behavior: smooth;
}

#container_main{
    background-color: rgba(0, 0, 0, 0.837);
    height: 49.9px;
    width: 100%;
    align-content: center;
}

#logo{
    display: inline-block;
    position: relative;
    background-color: transparent;
    width: 25%;
    text-align: center;
    font-size: large;
    font-weight: 100;
    left: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#logo_text{
    color: hsl(24, 100%, 50%);
    transition: text-shadow, color 0.3s;
    font-family: "Rochester", cursive;
    font-size: 30px;
    font-weight: 500;
    font-style: italic;

}

#logo_text:hover{
    text-shadow: 1px 1px 10px red;
}

#navigation{
    display: inline-block;
    position: relative;
    background-color: transparent;
    width: 45%;
    height: 20px;
    text-align: center;
}

#active{
    background-color: hsla(19, 100%, 50%, 0.3) !important;
    box-shadow: hsla(19, 100%, 50%, 0.3) 0px 0px 20px;
}

#navigation_li{
    display: flex;
    position: absolute;
    color: white;
    bottom: -15px;
    justify-content: space-between;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    left: 10%;
    list-style-type: none;
    line-height: 50px;
}

#navigation_li li{
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    width: 80px;
    height: 50px;
    top: 15px;
    background-color: transparent;
    cursor:pointer;
    transition: 0.3s background-color;
}

#navigation_li li:hover{
    background-color: rgba(0, 0, 0, 0.837);
}

#contacts{
    display: inline-block;
    position: relative;
    background-color: transparent;
    width: 15%;
    text-align: center;
    top: -2px;
    left: 10%;
}

#contacts button{
    color: white;
    background-color: hsl(15, 100%, 50%);
    width: 100px;
    height: 30px;
    border-radius: 100px;
    border: rgba(0, 0, 0, 0.837) 1px solid;
    cursor: pointer;
    font-size:medium;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: background-color, color, box-shadow 0.2s;
}

#contacts button:hover{
    background-color: hsl(17, 100%, 50%);
    color: whitesmoke;
    box-shadow: 1px 1px 20px red;
}

#bg{
    width: 100%;
    height: 700px;
    background-color: rgba(128, 128, 128, 0.812);
    opacity: 1;
}

#bg img{
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

#review_container{
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 92.8%;
    top: 8%;
}

.sub_box{
    position: relative;
    width: 100%;    
    height: 50%;
    background-color: transparent;
    border: black 1px solids;
    display: flex;
    justify-content:space-around;
    padding-top: 5px;
    padding-bottom: 0px;;
}

.review{
    width: 29%;
    height: 86%;
    background-color: white;
    border-image: linear-gradient(135deg,hsl(189, 100%, 49%), rgb(255, 5, 97)) 45;
    border-style: solid;
    border-width: 3px;
    box-shadow: black 0px 0px 10px;
    z-index: 1;
    transition: all 0.4s;
    transition-timing-function: ease-out;
}

.review:hover{
    border-width: 5px;
    box-shadow: black 0px 0px 20px;
    transform: scale(1.1);
}

.review_top{
    position: relative;
    align-items: start;
    background-color: white;
    height: 20%;
    text-align: center;
    align-content: center;
    font-family: "Rochester", cursive;
    font-style: italic;
    font-size: 1.6rem;
    text-shadow: 0px 0px 1px black;
    
}

.review_pic{
    position: relative;
    justify-content: start;
    height: 80%;
    width: 40%;
    right: 0.5%;
    top: 0.5%;
    transition: all 0.4s;
}

.review_pic img{
    width: 100%;
    height: 100%;
    position: relative;
    box-shadow: 0px 0px 5px black;
}

.review_body{
    position: relative;
    justify-content: start;
    background-color: white;
    height: 80%;
    width: 55%;
    bottom: 80%;
    left: 43%;
    font-family: "Caveat", sans-serif;
    font-size: 1.1rem;
    z-index: -1;
}

.star{
    width: 30%;
    height: 13%;
    background-image: linear-gradient(135deg, rgb(0, 126, 244), rgb(0, 200, 255));
    border-radius: 100px;
    border: whitesmoke 1px solid;
    position: relative;
    bottom: 86.5%;
    left: 65%;
    text-align: center;
    align-content: center;
    font-family: "Inconsolata", monospace;
    overflow: hidden;
    transition: all 0.4s;
    font-size: 1rem;
}

.star::before{
    content: "⭐⭐⭐⭐⭐";
    text-align: center;
    align-content: center;
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    bottom: 0%;
    border-radius: 100px;
    right: 100%;
    transition: all 0.4s;
    opacity: 0;
}

.star:hover::before{
    transform: translateX(100%);
    background-image: linear-gradient(135deg, rgb(0, 61, 244), rgb(0, 200, 255));
    opacity: 1;
}

.star:hover{
    font-weight: 600;
}

.star2{
    width: 30%;
    height: 13%;
    background-image: linear-gradient(135deg, rgb(0, 126, 244), rgb(0, 200, 255));
    border-radius: 100px;
    border: whitesmoke 1px solid;
    position: relative;
    bottom: 86.5%;
    left: 65%;
    text-align: center;
    align-content: center;
    font-family: "Inconsolata", monospace;
    overflow: hidden;
    transition: all 0.4s;
    font-size: 1rem;
}

.star2::before{
    content: "⭐⭐⭐⭐";
    text-align: center;
    align-content: center;
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    bottom: 0%;
    border-radius: 100px;
    right: 100%;
    transition: all 0.4s;
    opacity: 0;
}

.star2:hover::before{
    transform: translateX(100%);
    background-image: linear-gradient(135deg, rgb(0, 61, 244), rgb(0, 200, 255));
    opacity: 1;
}

.star2:hover{
    font-weight: 600;
}

#people{
    background-color: hsla(0, 0%, 0%, 0.915);
    border-top: white solid 0.1px;
    position: relative;
    width: 100%;
    height: 300px;
    display: block;
    align-content: space-around;
}

#p_left{
    position: relative;
    font-family: "Rochester", cursive;
    font-size: 3.2rem;
    width: 50%;
    color: wheat;
    font-weight: 60rem;
    padding-left: 150px;
    position: absolute;
    bottom: 100px;
    text-shadow: red 0px 0px 10px;
}

#p_right{
    position: relative; 
    left: 920px;
    width: 30%; 
    bottom: 10px;
    background-color: transparent;
    border-radius: 20px 0px 10px 0px;
}

#form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-top: 10px;
}


#name{
    width: 70%;
    height: 40px;
    background-color: hsla(0, 0%, 28%, 0.504);
    border: none;
    padding-left: 10px;
    color: white;
}

#submit{
    height: 42px;
    background-color: red;
    border: none;
    width: 50px;
    transition: all 0.35s;
    font-size: 0.8em;
    color: white;
}

#submit:hover{
    background-color: rgba(87, 80, 80, 0.137);
    color: red;
}


::placeholder{
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.648);
}

#p_bottom{
    color: white;
    position: relative;
    top: 100px;
    left: 150px;
    width: 50%;
    font-size: 1.2rem;
    display: flex;
}

span{
    color: red;
}

#opening{
    position: relative;
    left: 965px;
    width: 450px;
    color: white;
    font-size: 1.1rem;
    top: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
